<h1 class='text-center mb-4'>Chirps</h1>


  <% @chirps.each do |chirp| %>
    <div class='card my-2 p-4 shadow'>
      <div clas='card-body'>
        <h6 class='card-title'>@<%= chirp.user.name %></h6>
        <h4 class='card-title'><%= chirp.content %></h4>
        <h6 class='card-text'>Location: <%= chirp.location %></h6>
        <div class='d-flex justify-content-between'>
          <small class='card-text text-secondary'><%= chirp.created_at.strftime("%B %e %Y") %></small>
          <%= link_to 'See Comments', chirp, class:"btn btn-secondary" %>
        </div>
      </div>
    </div>
  <% end %>


