<div class='card my-2 p-4 shadow'>
    <div clas='card-body'>
        <h6 class='card-title'>@<%= @chirp.user.name %></h6>
        <h5 class='card-title'><%= @chirp.content %></h5>
        <h6 class='card-text'>Location: <%= @chirp.location %></h6>
        <small class='card-text text-secondary'><%= @chirp.created_at.strftime("%B %e %Y") %></small>
        <div class='mt-4 d-flex justify-content-between'>
            <div>
                <%= link_to 'Back', root_path, class:"btn btn-dark" %>
            <% if @chirp.user == current_user %>
                <%= link_to 'Edit', edit_chirp_path(@chirp), class:"btn btn-secondary" %>
            </div>
            <%= link_to 'Delete Chirp', chirp_path(@chirp),
                    # Must specify delete
                    method: :delete,
                    data: { confirm: 'Are you sure?' }, 
                    class:"btn btn-danger" %>
            <% end %>
        </div>
    </div>
</div>


 <h6>Add a comment:</h6>
 <%= form_with model: [ @chirp, @chirp.comments.build ], class: 'border p-3 shadow form-group bg-white' do |form| %>
   <p>
     <%= form.label :commenter, class: "fw-bold mb-1" %><br>
     <%= form.text_field :commenter, class: "form-control bg-light" %>
   </p>
   <p>
     <%= form.label :body, class: "mt-2 fw-bold mb-1" %><br>
     <%= form.text_area :body, class: "form-control bg-light" %>
   </p>
   <p>
     <%= form.submit 'Create Comment', class: "btn btn-success font-weight-bold text-white mt-2" %>
   </p>
 <% end %>



