<h2 class='mb-4 text-center'>Log In</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'border p-4 shadow form-group bg-white'} ) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control bg-secondary input-shadow ml-2 mb-4' %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: 'form-control bg-secondary input-shadow ml-2 mb-4' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: 'btn btn-primary btn-shadow mt-3' %>
  </div>

  <div class='text-center mt-3'>
    <small class='mr-2'>Need to Create an Account?</small>
    <%= render "devise/shared/links" %>
  </div>
<% end %>
